.flex-container {
    display: flex;
}

.center {
    display: block;
    margin: 1rem auto;
}

.input-field {
  margin: 0.5rem;
  width: 17rem;
}

.addInput {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.button {
    height: 1.5rem;
    margin-left: 1rem;
    position: relative;
    bottom: -0.8rem;
}

.video {
    border-bottom: solid black 1px;
    padding: 0.3rem;
}

.fail {
  color: red;
}
