.flex-container {
    display: flex;
}

.center {
    display: block;
    margin: 1rem auto;
}

.title {
    flex: 2;
}

.video {
    border-bottom: solid black 1px;
    padding: 0.3rem;
    display: flex;
}

.video-embed {
    margin: 1rem 1rem;
}

.icon {
    margin-right: 1rem;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}