.flex-container {
    display: flex;
}

.center {
    display: block;
    margin: 1rem auto;
}

.playlists {  
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }

  .video_thumbnail {
      background-color: black;
  }

  .thumbnail_border {
      border: solid black 1rem;
      height: 90px;
      width: 120px;
      margin-bottom: 1rem;
  }

  .empty_playlist {
      border: black;
      width: 120px;
  }

  .playlist_title {
      display: flex;
      text-align: center;
      /* justify-content: space-evenly; */
  }

  .create_icon {
      position: relative;
      bottom: -0.9rem;
  }