@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body,
button,
input,
select,
textarea {
  color: black;
  background-color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  /* line-height: 1.5; */
}

h1, h3, h5, h6 {
font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
  text-align: center;
  color: black;
}

h4 {
    font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
  color: black;
}

h2 {
    margin-left: 2rem;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

.header {
  text-align: center;
}