.flex-container {
    display: flex;
}

.center {
    display: block;
    margin: 1rem auto;
}

.column {
    flex-direction: column;
}

.input-field {
    margin: 0.5rem;
    width: 17rem;
  }
  
  .addInput {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .channels {  
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* position: relative;
    left: 4rem; */
  }
  
  .channel {
    flex-basis: 30%;
    margin: 1rem 0 0 0;
    text-align: center;
  }
  
  .button {
      height: 1.5rem;
      margin-left: 0;
      position: relative;
      bottom: -0.8rem;
  }

  .thumbnail {
      border-radius: 100%;
  }